<div class="example-wrapper">


  <kendo-grid [data]="infoGrid" [height]="533" [pageable]="true" [sortable]="true" (edit)="editHandler($event)"
    (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
    (add)="addHandler($event)" [navigable]="true" [pageSize]="gridState.take" [skip]="gridState.skip"
    [sort]="gridState.sort">

    <ng-template kendoGridToolbarTemplate>
      <h3 style="margin-top: 17px"><strong>Datos</strong> </h3>

      <button kendoGridAddCommand>
        <kendo-icon [name]="'plus'" [themeColor]="'primary'"></kendo-icon>
      </button>
    </ng-template>




    <kendo-grid-column *ngFor="let item of columnsGrid" [field]="item.header" [title]="item.header">


      <ng-template *ngIf="item.dataType === 'Date'" kendoGridCellTemplate>
      </ng-template>

      <ng-template *ngIf="item.dataType === 'Date'" kendoGridEditTemplate>

        <kendo-datepicker (valueChange)="setDate($event)" [format]="item.format"> </kendo-datepicker>
      </ng-template>


    </kendo-grid-column>



    <kendo-grid-command-column title="Acciones" width="220" *ngIf="columnsGrid.length">
      <ng-template kendoGridCellTemplate let-isNew="isNew">

        <button kendoGridEditCommand>
          <kendo-icon [name]="'pencil'" [themeColor]="'primary'"></kendo-icon>
        </button>

        <button kendoGridRemoveCommand>
          <kendo-icon [name]="'trash'" [themeColor]="'primary'"></kendo-icon>
        </button>


        <button kendoGridSaveCommand>
          <kendo-icon [name]="'save'" [themeColor]="'primary'"></kendo-icon>
        </button>

        <button kendoGridCancelCommand>
          <kendo-icon [name]="isNew ? 'close' : 'cancel'" [themeColor]="'primary'"></kendo-icon>
        </button>

      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>

<div kendoDialogContainer></div>