<div class="container">



    <kendo-tilelayout [columns]="4" [rowHeight]="800">


        <kendo-tilelayout-item title="Datos" [col]="2" [colSpan]="3">

            <kendo-tilelayout-item-body>
                <app-data [itemSelected]="imtemSelected"></app-data>
            </kendo-tilelayout-item-body>

        </kendo-tilelayout-item>



        <kendo-tilelayout-item title="Configuración" [col]="1" [colSpan]="1">

            <kendo-tilelayout-item-body>
                <app-configuration (dataSelected)="imtemSelected = $event"></app-configuration>


            </kendo-tilelayout-item-body>

        </kendo-tilelayout-item>





    </kendo-tilelayout>
</div>