<div class="example-wrapper">
  <h3><strong>Configuración</strong></h3>
  <p>Tabla:</p>
  <kendo-dropdownlist [data]="listItems" [value]="listItems[0]" textField="name" valueField="id"
    (valueChange)="loadData($event)">
  </kendo-dropdownlist>
</div>